listening-port={{ coturn_listen_port }}
tls-listening-port={{ coturn_tls_port }}
fingerprint
lt-cred-mech
use-auth-secret
static-auth-secret={{ coturn_static_auth_secret }}
realm={{ coturn_realm }}
total-quota=100
bps-capacity=0
stale-nonce
no-multicast-peers
no-cli
no-loopback-peers
cert={{ coturn_cert }}
pkey={{ coturn_pkey }}
