# Managed by Ansible (olimar role)
# Original config was backed up as /etc/network/interfaces.olimar-backup-<timestamp>

auto lo
iface lo inet loopback

# Physical uplink
auto {{ olimar_uplink_iface }}
iface {{ olimar_uplink_iface }} inet manual

# Bridges managed by Olimar
{% for br in olimar_bridges %}
auto {{ br.name }}
iface {{ br.name }} inet {{ br.method }}
{% if br.method == 'static' %}
    address {{ br.address }}
    netmask {{ br.netmask }}
{% if br.gateway is defined %}
    gateway {{ br.gateway }}
{% endif %}
{% endif %}
{% if br.bridge_ports is defined %}
    bridge-ports {{ br.bridge_ports }}
{% endif %}
{% if br.bridge_stp is defined %}
    bridge-stp {{ br.bridge_stp }}
{% endif %}
{% if br.bridge_fd is defined %}
    bridge-fd {{ br.bridge_fd }}
{% endif %}

{% endfor %}
