# roles/pve-network/templates/interfaces.j2
# Managed by Ansible (pve-network role)
# WARNING: This file is fully managed. Manual changes will be overwritten.

auto lo
iface lo inet loopback

# Physical uplink
auto {{ pve_uplink_iface }}
iface {{ pve_uplink_iface }} inet manual

# Bridges managed by Ansible
{% for br in pve_bridges %}
auto {{ br.name }}
iface {{ br.name }} inet {{ br.method }}
{% if br.comment is defined and br.comment | length > 0 %}
  # {{ br.comment }}
{% endif %}
{% if br.method == 'static' %}
    address {{ br.address }}
    netmask {{ br.netmask }}
{% if br.gateway is defined %}
    gateway {{ br.gateway }}
{% endif %}
{% endif %}
{% if br.bridge_ports is defined %}
    bridge-ports {{ br.bridge_ports }}
{% endif %}
{% if br.bridge_stp is defined %}
    bridge-stp {{ br.bridge_stp }}
{% endif %}
{% if br.bridge_fd is defined %}
    bridge-fd {{ br.bridge_fd }}
{% endif %}

{% endfor %}
