# roles/zfs-layout/defaults/main.yml
---
zfs_pool: "rpool"

# --- GLOBAL CONTROL VARIABLES ---
zfs_layout_enabled: true
zfs_box1_enabled: true
#zfs_box_2_enabled: false
zfs_memory_card_enabled: true
zfs_cart_enabled: true
zfs_disc_enabled: true

# Datasets ZFS is responsible for creating/maintaining.
zfs_datasets:
  # --- BOX 1: APPLICATION INFRASTRUCTURE ---
  - { name: "rpool/box1", mountpoint: "/01", enable: true, pool_enabled: "{{ zfs_box1_enabled }}" }
  - { name: "rpool/box1/apps", enable: true, pool_enabled: "{{ zfs_box1_enabled }}" }
  - { name: "rpool/box1/apps/link-cable", enable: true, pool_enabled: "{{ zfs_box1_enabled }}" }
  # --- BOX 2: PERSONAL FILES ---
  # --- PVE STORAGE VOLUMES ---
  - { name: "rpool/cart", mountpoint: "/cart", enable: "{{ zfs_cart_enabled }}", pool_enabled: true }
  - { name: "rpool/disc", mountpoint: "/disc", enable: "{{ zfs_disc_enabled }}", pool_enabled: true }

  # --- Memory Card: BACKUP & ARCHIVAL ---
  - { name: "rpool/memory-card", mountpoint: "/memory-card", enable: "{{ zfs_memory_card_enabled }}", pool_enabled: true }
  - { name: "rpool/memory-card/slot-a", enable: "{{ zfs_memory_card_enabled }}", pool_enabled: true }
  - { name: "rpool/memory-card/slot-b", enable: "{{ zfs_memory_card_enabled }}", pool_enabled: true }
