---
# Validate inputs
- name: Ensure pve_vms is defined and a list
  assert:
    that:
      - pve_vms is defined
      - pve_vms is iterable

# Process each VM definition
- name: Process VM definitions
  include_tasks: vm.yml
  loop: "{{ pve_vms }}"
  loop_control:
    loop_var: pve_vm
