# inventories/prod/host_vars/link-cable.yml
---
# AdGuard LXC (link-cable) Host Variables

pve_lxc:
  vmid: "{{ services['adguard'].vmid }}"
  hostname: "{{ services['adguard'].hostname }}"
  ip: "{{ services['adguard'].ip }}/24"
  template: "local:vztmpl/debian-12-standard_12.12-1_amd64.tar.zst"
  cores: 1
  memory: 512
  storage: cart
  rootfs_size: 4
  net_bridge: vmbr0
  gateway: 192.168.0.1

  # PERSISTENCE: Now includes the Logs mount
  mounts:
    - id: 0
      source: /box1/apps/link-cable/conf
      target: /var/lib/adguardhome/conf
    - id: 1
      source: /box1/apps/link-cable/work
      target: /var/lib/adguardhome/work
    - id: 2
      source: /box1/apps/link-cable/logs
      target: /var/lib/adguardhome/logs
