# inventories/prod/host_vars/link-cable.yml
---
# AdGuard LXC (link-cable) Host Variables

# We look up 'adguard' in the services list because that is the logical SERVICE name,
# even if the HOSTNAME is 'link-cable'.
{% set svc = services['adguard'] %}

pve_lxc:
  vmid: "{{ svc.vmid }}"
  hostname: "{{ svc.hostname }}" # "link-cable"
  template: "local:vztmpl/debian-12-standard_12.2-1_amd64.tar.zst"
  cores: 1
  memory: 512
  storage: local-zfs
  rootfs_size: 4G
  net_bridge: vmbr0
  ip: "{{ svc.ip }}/24"
  gateway: 192.168.0.1
  
  # PERSISTENCE: Pointing to existing 'link-cable' data on the host ZFS
  mounts:
    - id: 0
      source: /box1/apps/link-cable/conf
      target: /var/lib/adguardhome/conf
    - id: 1
      source: /box1/apps/link-cable/work
      target: /var/lib/adguardhome/work
