# roles/pve-lxc/defaults/main.yml
---
# Defaults for the pve-lxc role
# These are overridden by host_vars or vars passed to the role.

pve_lxc:
  state: started
  onboot: true
  features: "nesting=1"
  swap: 0
