---
# playbooks/caddy-stack.yml
- name: Provision Caddy LXC on Proxmox
  hosts: gamecube
  gather_facts: false
  vars:
    pve_lxc_containers:
      - vmid: 104
        hostname: warp-zone
        ip: "{{ hostvars['warp-zone'].base_debian_network_address }}"
        gateway: "192.168.0.1"
        storage: "cart"
        rootfs_size: "8"
        memory: 1024
        cores: 2
        state: "started"
        template: "cart:vztmpl/debian-12-standard_12.12-1_amd64.tar.zst"
        features: "nesting=1"
        net_bridge: "vmbr0"
        swap: 0
        onboot: true
        ostype: "debian"
        nameserver: "{{ hostvars['link-cable'].ansible_host }}"
        searchdomain: "lan"
  roles:
    - role: pve-lxc

- name: Bootstrap Debian base on Caddy LXC
  hosts: warp-zone
  become: true
  gather_facts: false

  pre_tasks:
    - name: Wait for SSH to be ready on warp-zone
      wait_for_connection:
        timeout: 60
        delay: 5
        sleep: 3

    - name: Gather facts after SSH is up
      setup:

  vars:
    base_debian_network_address: "{{ hostvars[inventory_hostname].base_debian_network_address }}"
    base_debian_network_gateway: "192.168.0.1"
    base_debian_dns_servers:
      - "{{ hostvars['link-cable'].ansible_host }}"
      - "1.1.1.1"
    base_debian_dns_search_domains:
      - "lan"
  roles:
    - role: base-debian
    - role: ssh-base
    - role: caddy-reverse
