---
- name: Check that Proxmox is installed
  ansible.builtin.command: pveversion
  register: dolphin_pveversion
  changed_when: false
  failed_when: dolphin_pveversion.rc != 0

- name: Include core Proxmox baseline configuration
  ansible.builtin.import_tasks: configure.yml

- name: Include Proxmox storage configuration
  ansible.builtin.import_tasks: storage.yml

- name: Include Git + SSH + ecco bootstrap
  ansible.builtin.import_tasks: git-ssh.yml

- name: Ensure /etc/resolv.conf uses node DNS settings
  ansible.builtin.template:
    src: resolv.conf.j2
    dest: /etc/resolv.conf
    owner: root
    group: root
    mode: '0644'
  when: pve_node_dns_servers is defined and pve_node_dns_servers | length > 0
